/* src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom styles for the Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.bottom-nav {
  position: fixed;
  bottom: 20px; /* Gap from the bottom of the screen */
  left: 50%;
  transform: translateX(-50%); /* To center the bottom navbar */
}
